#Choose {
    font-weight: bolder;
    margin: auto;
    margin-top: 40px;
    border: 5px solid red;
    padding: 40px;
    background-color: red;
    opacity: 0.9;
}

body {
    background-image: url(../newpizza.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    color: red;
}